resources:
  - minerals
  - food
  - energy
  - consumer_goods
  - alloys
  - physics_research
  - society_research
  - engineering_research
  - rare_crystals
  - volatile_motes
  - exotic_gases
  - unity
  - influence
  - sr_living_metal
  - sr_zro
  - sr_dark_matter
  - nanites
  - minor_artifacts
  # Fake resources
  - [amenities, "£amenities£ $PLANET_AMENITIES_TITLE$", [produces_add, upkeep_add]]
  - [stability, "£stability£ $PLANET_STABILITY_TITLE$", [produces_add]]
  - [trade_value, "£trade_value£ $TRADE_VALUE$", [produces_add]]
  - [pop_growth, "£mod_pop_growth_speed£ Pop Growth", [produces_add]]
  - [all_research, "$tec_loc_research_resources$"]
  - [all_industrial, "$tec_loc_industrial_resources$"]
  - [all_basic, "$tec_loc_basic_resources$"]
languages:
  english:
    templates:
      branch_office:
        generic_produces: "{category} Income"
        generic_upkeep: "{category} Upkeep"
        generic_cost: "{category} Cost"
        resource_produces: "{category} {resource} Income"
        resource_upkeep: "{category} {resource} Upkeep"
        resource_cost: "{category} {resource} Cost"
      structure: &structure
        generic_produces: "{category} Output"
        generic_upkeep: "{category} Upkeep"
        generic_cost: "{category} Cost"
        resource_produces: "{category} {resource} Output"
        resource_upkeep: "{category} {resource} Upkeep"
        resource_cost: "{category} {resource} Cost"
      job:
        generic_produces: "{category} Output"
        generic_upkeep: "{category} Upkeep"
        resource_produces: "{resource} from {category}"
        resource_upkeep: "{resource} Upkeep of {category}"
      job_on:
        generic_produces: "{category} Output on {0}"
        generic_upkeep: "{category} Upkeep on {0}"
        resource_produces: "{resource} from {category} on {0}"
        resource_upkeep: "{resource} Upkeep of {category} on {0}"
      job_strata:
        generic_produces: "{category} Output"
        resource_produces: "{resource} from {category}"
      job_archetype:
        generic_produces: "{category} Output"
        resource_produces: "{category} {resource} Output"
      generic:
        generic_produces: "Resources from {category}"
        generic_upkeep: "Upkeep from {category}"
        resource_produces: "{resource} from {category}"
        resource_upkeep: "{resource} Upkeep of {category}"
      pop:
        generic_produces: "{category} Output"
        generic_upkeep: "{category} Upkeep"
        resource_produces: "{resource} form {category}"
        resource_upkeep: "{category} {resource} Upkeep"
      pop_category:
        generic_produces: "{category} Output"
        generic_upkeep: "{category} Upkeep"
        resource_produces: "{resource} form {category}"
        resource_upkeep: "{resource} Upkeep for {category}"
      generic_on:
        generic_produces: "Resources from {category} on {0}"
        generic_upkeep: "Upkeep from {category} on {0}"
        resource_produces: "{resource} from {category} on {0}"
        resource_upkeep: "{resource} Upkeep of {category} on {0}"
      assembler: &assembler
        generic_upkeep: "{category} Cost"
        resource_upkeep: "{resource} {category} Cost"
      starbase_construction:
        generic_produces: "Resources from {category}"
        generic_upkeep: "Upkeep from {category}"
        generic_cost: "{category} Cost"
        resource_produces: "{resource} from {category}"
        resource_upkeep: "{resource} Upkeep of {category}"
        resource_cost: "{category} {resource} Cost"
      terraforming:
        generic_cost: "{category} Cost"
        resource_cost: "{category} {resource} Cost"
      army: &army
        generic_upkeep: "{category} Upkeep"
        generic_cost: "{category} Cost"
        resource_upkeep: "{category} {resource} Upkeep"
        resource_cost: "{category} {resource} Cost"
      leader: *structure # reuse structure same format
      diplomacy: *assembler # reuse assembler
      country:
        generic_produces: "Empire Output"
        generic_upkeep: "Monthly Upkeep"
        generic_cost: "Empire Costs"
        resource_produces: "Monthly {resource}"
        resource_upkeep: "Monthly {resource} Upkeep"
        resource_cost: "Empire {resource} Costs"
      political:
        generic_produces: "{category} Resource Gain"
        generic_upkeep: "{category} Upkeep"
        resource_produces: "{category} {resource} Gain"
        resource_upkeep: "{category} {resource} Upkeep"
      operations: *army
      decisions:
        generic_cost: "{category} Cost"
        resource_cost: "{category} {resource} Cost"

    economic_categories:
      stations: ['Orbital Stations', generic]
      station_gatherers: ['Mining Station', structure]
      station_researchers: ['Research Station', structure]
      station_observers: ['Observation Stations', structure]
      station_observer_missions: ['Observation Missions', generic]
      starbases: ['Starbase', structure]
      starbase_stations: ['Starbase', structure]

      starbase_constructions: ['Starbase Constructions', starbase_construction]
      starbase_buildings: ['Starbase Buildings', starbase_construction]
      starbase_modules: ['Starbase Modules', starbase_construction]

      terraforming: ['Terraforming', terraforming]
      terraforming_ocean: ['Ocean Terraforming', terraforming]

      planets: ['Planetary', structure]
      planet_structures: [ 'Building and District', structure ]

      planet_buildings: [ 'Building', structure ]
      planet_buildings_strongholds: [ 'Fortress', structure ]
      planet_buildings_bastions: [ 'Bastion', structure ]

      planet_branch_offices: ['Branch Office' , branch_office ]
      planet_branch_office_buildings: [ '$BRANCH_OFFICE_BUILDINGS$', branch_office ]

      planet_districts: [ '$planet_districts$', structure ]
      planet_districts_cities: [ '$planet_districts_cities$', structure ]
      planet_districts_industrial: [ '$planet_districts_industrial$', structure ]
      planet_districts_mining: [ '$planet_districts_mining$', structure ]
      planet_districts_farming: [ '$planet_districts_farming$', structure ]
      planet_districts_generator: [ '$planet_districts_generator$', structure ]

      planet_districts_hab_energy: [ '$planet_districts_hab_energy$', structure ]
      planet_districts_hab_industrial: [ '$planet_districts_hab_industrial$', structure ]
      planet_districts_hab_research: [ '$planet_districts_hab_research$', structure ]
      planet_districts_hab_mining: [ '$planet_districts_hab_mining$', structure ]
      planet_districts_hab_trade: [ '$planet_districts_hab_trade$', structure ]
      planet_districts_hab_leisure: [ '$planet_districts_hab_leisure$', structure ]

      planet_jobs: [ "£job£ Jobs", generic ]
      planet_jobs_productive: [ "Resource-Producing £job£ Jobs", generic ]

      habitat_jobs: [ "£job£ Jobs", generic_on, "Habitats" ]
      non_artificial_planet_jobs: [ "£job£ Jobs", generic_on, "Non-Artificial Worlds" ]
      gaia_planet_jobs: [ '£job£ Jobs', job_on, 'Gaia Worlds' ]
      perfect_planet_jobs: [ '£job£ Jobs', job_on, 'Perfect Planets' ]
      non_perfect_planet_jobs: [ '£job£ Jobs', job_on, 'Non-Perfect Planets' ]

      planet_jobs_slave: [ "$pop_cat_slave$ Pop £job£ Jobs", job_strata ]
      planet_jobs_worker: [ "[GetWorker] Pop £job£ Jobs", job_strata ]
      planet_jobs_worker_only: [ "$pop_cat_worker$ Pop £job£ Jobs", job_strata ]
      planet_jobs_specialist: [ "[GetSpecialist] Pop £job£ Jobs", job_strata ]
      planet_jobs_specialist_only: [ "$pop_cat_specialist$ Pop £job£ Jobs", job_strata ]
      planet_jobs_ruler: [ "$pop_cat_ruler$ Pop £job£ Jobs", job_strata ]
      planet_jobs_simple_drone: [ "$pop_cat_simple_drone$ Pop £job£ Jobs", job_strata ]
      planet_jobs_complex_drone: [ "$pop_cat_complex_drone$ Pop £job£ Jobs", job_strata ]

      planet_jobs_robotic: [ "§BRobot§! Pop £job£ Jobs", job_archetype ]
      planet_jobs_organics: [ "§YOrganic§! Pop £job£ Jobs", job_archetype ]
      planet_jobs_bioservant: [ '§GBioservant§! Pop £job£ Jobs', job_archetype ]
      planet_jobs_replicant: [ '§BReplicant§! Pop £job£ Jobs', job_archetype ]
      #      planet_jobs_energyentity: ['§BCyborg§! Pop', job]
      planet_jobs_latent_psionic: [ '§MLatent Psionic§! Pop £job£ Jobs', job_archetype ]
      planet_psionic_jobs: [ '§MPsionic§! Pop £job£ Jobs', job_archetype ]
      planet_cyborg_jobs: [ '§BCyborg§! Pop £job£ Jobs', job_archetype ]
      planet_jobs_tec_cybernetics: [ '§ECyborg§! and §BRobot§! Pop £job£ Jobs', job_archetype ]
      planet_jobs_tec_purelinked: [ '§YEmbroided§! Pop £job£ Jobs', job_archetype ]
      planet_jobs_tec_converged: [ '§YConverged§! Pop £job£ Jobs', job_archetype ]

      planet_pops: ['£pop£ Pops', pop]
      planet_pop_assemblers: [ 'Pop Assembly', assembler ]

      planet_pops_unemployed: [ 'Unemployed £pop£ Pops', pop ]
      planet_pops_robotics: [ 'Robot £pop£ Pops', pop ]
      planet_pops_cyborgs: [ 'Cyborg £pop£ Pops', pop ]
      planet_pops_psionic: [ 'Psionic £pop£ Pops', pop ]
      planet_pops_organics: [ 'Organic £pop£ Pops', pop ]
      planet_pops_lithoids: [ 'Lithoid £pop£ Pops', pop ]
      planet_pops_bioservant: [ '§GBioservant§! £pop£ Pops', pop ]
      planet_pops_replicant: [ '§BReplicant§! £pop£ Pops', pop ]
      planet_pops_tec_cybernetics: [ '§ECyborg§! and §BRobot§! £pop£ Pops', pop ]
      planet_pops_biosynth: [ '§BBio-synth§! Pops', pop ]

      planet_bio_trophies: [ '£job_bio_trophy£ $pop_cat_bio_trophy_plural$', job ]
      planet_farmers: [ '£job_farmer£ [GetFarmerPlural]', job ]
      planet_miners:
       - '£job_miner£ [GetMinerPlural]'
       - job
       - mult: '£job_miner£ [GetMinerPlural] and Strategic Resource Gatherers'
      planet_sr_miners: [ '£job£ Strategic Resource Gatherers', job ]
      planet_technician: [ '£job_technician£ [GetTechnician]', job ]
      planet_politicians: [ '£job_politician£ $job_politician_plural$', job ]
      planet_administrators: [ '[GetAdministratorPluralWithIcon]', job ]
      planet_executives: [ '£job_executive£ $job_executive_plural$', job ]
      planet_managers: [ '£job_manager£ $job_manager_plural$', job ]
      planet_researchers: [ '£job_researcher£ [GetResearcherPlural]', job ]
      planet_metallurgists: [ '£job_foundry£ [GetAlloyProducerPlural]', job ]
      planet_culture_workers: [ '£job_culture_worker£ $job_culture_worker_plural$', job ]
      planet_evaluators: [ '£job_evaluator£ $job_evaluator_plural$', job ]
      planet_synapse_drones: [ 'job_synapse_drone£ $job_synapse_drone_plural$', job ]
      planet_nobles: [ '£job_noble£ $job_noble_plural$', job ]
      planet_necro_apprentices: [ '£job_necro_apprentice£ $job_necro_apprentice_plural$', job ]
      planet_merchants: [ '£job_merchant£ $job_merchant_plural$', job ]
      planet_entertainers: [ '£job_entertainer£ $job_entertainer_plural$', job ]
      planet_soldiers: [ '£job_soldier£ $job_soldier_plural$', job ]
      planet_priests: [ '£job_priest£ $job_priest_plural$', job ]
      planet_enforcers: [ '£job_enforcer£ $job_enforcer_plural$', job ]
      planet_telepaths: [ '£job_telepath£ $job_telepath_plural$', job ]
      planet_doctors: [ '£job_healthcare£ $job_healthcare_plural$', job ]
      planet_refiners: [ '£job_gas_refiner£ $job_gas_refiner_plural$', job ]
      planet_translucers: [ '£job_translucer£ $job_translucer_plural$', job ]
      planet_chemists: [ '£job_chemist£ $job_chemist_plural$', job ]
      planet_artisans: [ '£job_artisan£ [GetArtisan]', job ]

      planet_criminals: [ '£job_criminal£ [GetCriminal]', job ]
      planet_clerks: [ '£job_clerk£ $job_clerk_plural$', job ]
      planet_tec_free_agents: [ '$planet_tec_free_agents$', job ]
      planet_tec_integrated: [ 'planet_tec_integrated', job ]
      planet_livestock: [ '£job_livestock£ §Y$job_livestock_plural$§!', job ]
      planet_tec_network_drones: [ '£job_tec_network_drone£ $job_tec_network_drone_plural$', job ]
      planet_maintenancedrones: [ '£job_maintenance_drone£ $job_maintenance_drone_plural$', job ]
      planet_bureaucrats: ['£job_bureaucrat£ $job_bureaucrat_plural$', job]
      planet_coordinators: ['£job_coordinator£ $job_coordinator_plural$', job]

      pop_category_purge: [ 'Purged Pops', pop_category ]
      pop_category_robot: [ 'Robotic Servants', pop_category ]
      pop_category_drones: [ 'Drone Pops', pop_category ]
      pop_category_bio_trophy: [ '$BIO_TROPHIES$', pop_category ]
      pop_category_slave: [ '$SLAVES$', pop_category ]
      pop_category_workers: [ '$WORKERS$', pop_category ]
      pop_category_specialists: [ '$SPECIALISTS$', pop_category ]
      pop_category_rulers: [ '$RULERS$', pop_category ]
      pop_category_tec_free_agent: [ '$planet_tec_free_agents$', pop_category ]

      unemployment_resources: ['$UNEMPLOYED_POPS$', job]

      planet_deposits: ['Deposits', job]
      orbital_mining_deposits: ['Orbital Mining Deposits', job]
      orbital_research_deposits: ['Orbital Research Deposits', job]
      deposit_blockers: ['Clear Blocker', terraforming]

      armies: ["Army", army]
      leaders: ["Leader", leader]
      leader_admirals: ["Admiral", leader]
      leader_generals: ["General", leader]
      leader_scientists: ["Scientist", leader]
      leader_governors: ["Governor", leader]

      diplomacy: ['Diplomacy', diplomacy]

      country: ['', country]
      country_container: ['', country]
      country_monuments: ['', country]
      country_ambition: ['', country]
      country_federation_perks: ['', country]
      country_civics: ['', country]
      country_covenant: ['', country]
      country_shoulders: ['', country]
      country_ai_uprising: ['', country]
      country_dessanu: ['', country]
      country_extended_payout: ['', country]
      country_galactic_standard: ['', country]
      country_concessions: ['', country]
      country_first_contact: ['', country]
      country_custodian: ['', country]
      country_tech: ['', country]
      country_policies: ['', country]
      country_traditions: ['', country]
      country_ruler: ['', country]
      country_ethic: ['', country]
      country_power_projection: ['', country]
      country_first_league_homeworld: ['', country]


      pop_factions: ['Faction', political]
      federation: ['Federation', political]
      rivalries: ['Rivalry', political]
      non_aggression_pacts: ['Non-Aggression Pacts', political]
      research_agreements: ['Research Agreements', political]
      commercial_pacts: ['Commercial Pacts', political]
      defensive_pacts: ['Defensive Pacts', political]
      guarantees: ['Independence Guarantees', political]
      subject_tax: ['Subject Taxes', political]
      envoy_costs: ['Envoy', political]
      diplo_closed_borders: ['Closed Borders', political]
      diplomatic_networking: ['Embassies', political]

      monthly_trades: ['', country]
      operations: ['Operation', operations]

      # Not yet existing

      planet_colonists: [ '£job_colonist£ $job_colonist_plural$', job]
      planet_servants: [ '£job_servant£ $job_servant_plural$', job]

      # Fake categories

      planet_industrial_jobs: [ '$tec_loc_industrial_jobs$', job ]
      planet_jobs_hired: [ '£job£ $private_hired$ Jobs', job ]

      decisions: ["Decisions", decisions]
      decisions_arcologies: ["Arcology Decisions", decisions]
      decisions_ecoworld: ["Ecoworld Decisions", decisions]
      decisions_ecu: ["Ecumenopolis Decisions", decisions]


